<div class="container" style="margin-top: 200px">
  Sua viagem para <%= @country[:name] %> custará <%= @country[:currencies][0][:symbol] %> <%= '%.2f' % @estimate_updated %> <%= @country[:currencies][0][:name].split.last %>.
</div>